body
{
margin: 0;
padding: 0;
font-family: sans-serif;

}

.container
{
max-width: 960px;

margin: 0 auto;

}


.container h1
{
    
color: aliceblue;

}

.bloque h2
{
margin-bottom: 40px;

}

.bloque h1
{
text-align: center;
margin: 0;
font-size: 90px;
line-height: 600px;
color: black;

}

.bloque p
{
margin-bottom: 40px;

font-size: 16px;

}

.bloque.parallax
{
height: 600px;

background-position: 50% 50%;

background-repeat: no-repeat;

background-size: cover;

background-attachment: fixed;

}

.parallax.image-1
{
background-image: url("nosotros2.jpg");

}

.parallax.image-2
{

background-image: url("img2.jpg");

}

.parallax.image-3
{
background-image: url("img3.jpg");

}